body {
  margin: 15px;
  font-size: 16px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.nav {
  clear: both;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.button {
  text-decoration: none;
  color: #000;
  display: inline-block;
  padding: 10px;
  border: 1px solid;
  cursor: pointer;
}

.button:hover {
  background-color: #ccc;
}

.toc {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  overflow-y: auto;
  padding: 15px;
  border-right: 1px solid;
  transform: translateX(-100%);
  transition: transform 0.3s;
}

.toc ul {
  padding: 15px;
}

.toc-checkbox {
  display: none;
}

.toc-checkbox:checked + .toc {
  transform: translateX(0);
}